.container {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
}
.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: -12%;
  z-index: 2;
  left: 0;
  padding-left: 0;
  background-color: white;
  border-radius: 15vh;
}

.links > li {
  flex-grow: 1;
  display: grid;
  place-items: center;
  padding: 1.25rem;
  outline: none;
  text-decoration: none;
  width: auto;
}

.links > li > Link {
  font-size: 1.1rem;
}
.links > li[data-active="true"] > Link  {
  background-color: red;
}
.links:link {
  text-decoration: none;
}

.links:visited {
  text-decoration: none;
}

.links:hover {
  text-decoration: none;
}

.links:active {
  text-decoration: none;
}
